{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
<link rel="stylesheet" href="/assets/css/logintop.css" >
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">

    </div>
    <div class="container">
            <h1>LOGIN TOP</h1>
              <h2 class="op">
              <p>機能説明</p>
            </h2>
            </div>
              <h3>
                <p  class="optext" id="optext">
                  当サイトでは一人ひとりに合ったお酒をお勧めするサービスを行っています。<br>
                  自分に合ったお酒を探してみよう！<br>
                </p>
                  <button class="link-button btn btn-default" onclick="location.href='/recommend/'">お勧めを探す！
              </h3>
            {#共通フッタとして追記したい情報を記載します。#}
            <div class = "footer">
            {% block footer_scripts_add %}{% endblock %}
          </div>





{% endblock %}
