{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}お酒をオススメ{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
        <h1>オススメのお酒は...</h1>
    </div>
    <div class="container">
        <div class="box" style="margin:1em;">
<!--              <div class="row text-center">オススメのお酒は...</div>-->
              <div class="alcName row" style="text-align:center;">
                <!-- beer.imgはテスト画像 実際はDBのalc.picPassを指定-->
                <img src="assets/img/beer.jpg" style="width:400px%;height:400px; margin:auto;"/>
              </div>
              <div class="row" style="margin:1em;">夏と言えばビール。冬でもビール。勿論春・秋もビール。食前酒として「とりあえずビール」と注文する人が多い。独特の苦味のあるのが特徴。</div>
              <div class="buttons row">
                <div class="col-6"><a href="/recommend" class="btn btn-default">他のお酒を探す</a></div>
                <div class="col-6"><a href="/logintop/" class="btn btn-default">戻る</a></div>
              </div>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
